*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: lightgray;
}

header{
  background-color: white;
  height: 100px;
  line-height: 100px;
}

.testa{
  display: inline-block;
  vertical-align: middle;
}

main{
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

section{
  background-color: white;
  padding-left: 5%;
  border-radius: 3px;
}

.bottoni{
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}

#task{
  background-color: #47ADF1;
  color: white;
  border: 2px solid #47ADF1;
  border-radius: 5px;
  padding: 5px 10px;
}

#section{
  background-color: white;
  color: lightgray;
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 5px 10px;
}

.testo{
  margin-top: 5px;
}