*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F6F8F9;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  background-color: white;
  height: 100px;
  line-height: 100px;
  padding-left: 5%;
}

.testa{
  display: inline-block;
  vertical-align: middle;
}

main{
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

section{
  background-color: white;
  padding-left: 5%;
  border-radius: 3px;
  margin-top: 5px;
}

.bottoni{
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}

#task{
  background-color: #47ADF1;
  color: white;
  border: 2px solid #47ADF1;
  border-radius: 5px;
  padding: 5px 10px;
}

#section{
  background-color: white;
  color: lightgray;
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 5px 10px;
}

.testo{
  padding: 2% 0;
}

.riga{
  padding: 1% 0;
}

.check{
  color: lightgreen;
  border: 2px solid lightgreen;
  padding: 2px;
  border-radius: 50%;
}

.cross{
  color: red;
  border: 2px solid red;
  padding: 2px;
  border-radius: 50%;
}

.editorial{
  background-color: #47ADF1;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: small;
}

.goals{
  background-color: #9C72E4;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: small;
}

.recruiting{
  background-color: #64C0A9;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: small;
}

.mobile{
  background-color: #F29E33;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: small;
}

.website{
  background-color: #D863A1;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: small;
}

.sales{
  background-color: #B0C926;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: small;
}